[%% Kernel/logger
 {kernel, [{logger,[{handler,default,logger_std_h,#{}}]}
          %%,{logger_level,info}
          ]},
 {broen, [{amqp_connection,
    [{host, "rabbitmq"},
        {port, undefined},
        {username, <<"guest">>},
        {password, <<"guest">>},
        {virtual_host, <<"dev_vhost">>}]},
    {listen, {0, 0, 0, 0}},
    {port, 7083},
    {internalport, 7084},
    {cors_white_list, []}
 ]}
].